openapi: 3.0.3
info:
  title: Registration Service - REST API
  version: 1.0.0
servers:
  - url: https://api.events.internal.company.vn/v1
    description: Production (qua API Gateway, mục 3.1 Context Map)
  - url: https://api.events.staging.company.vn/v1
    description: Staging
paths:
  /events/{eventId}/registration/open:
    post:
      tags:
        - Registration
      summary: Mở đăng ký thủ công (OpenRegistration — override)
      description:
        'Command **OpenRegistration** → Event `EventRegistrationOpened`.
        Bình thường được

        tự động kích hoạt bởi "At 20h Policy" khi nhận `EventPublished`

        (xem AsyncAPI, kênh `registration-commands`); endpoint này cho phép Organizer

        mở sớm thủ công. Chỉ ảnh hưởng Aggregate `Registration` của riêng Registration

        Context nên vẫn đồng bộ.

        '
      operationId: openRegistration
      x-required-role: ORGANIZER
      parameters:
        - $ref: "#/components/parameters/EventId"
      responses:
        "200":
          description: Cổng đăng ký đã mở.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignStatusApiResponse"
  /events/{eventId}/registration/close:
    post:
      tags:
        - Registration
      summary: Đóng đăng ký khẩn cấp (CloseRegistration — override)
      description:
        "Endpoint này đóng vai trò như một **Emergency Kill Switch** (Nút dừng khẩn cấp). 
        Cho phép Organizer đóng hoặc tạm dừng chiến dịch đăng ký vé ngay lập tức dù chưa đến hạn `closeAt`.
        Thường dùng trong các trường hợp: Hệ thống cổng thanh toán bị lỗi, bán lố vé, hoặc sự kiện bị hủy đột xuất."
      operationId: closeRegistration
      x-required-role: ORGANIZER
      parameters:
        - $ref: "#/components/parameters/EventId"
      responses:
        "200":
          description: Cổng đăng ký đã được đóng thành công.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignStatusApiResponse"
  /registrations:
    post:
      tags:
        - Registration
      summary: Đăng ký tham gia sự kiện (RegisterForEvent)
      description:
        "**BẤT ĐỒNG BỘ (Flash Sale)**: Bước 1 của luồng đăng ký siêu tốc. 
        API này hoạt động theo cơ chế kiểm tra vé trên Redis và trả về `202 Accepted` ngay lập tức nếu còn vé (Fast Path).
        
        Bước 2 (Chốt vé/Giao tiếp DB) sẽ được xử lý ngầm qua Debezium Outbox và Kafka Worker. Frontend cần gọi API GET `/registrations/status` để theo dõi tiến trình.
        "
      operationId: registerForEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterForEventRequest"
      responses:
        "202":
          description: Yêu cầu đã được tiếp nhận và đưa vào hàng đợi xử lý.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncOperationApiResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
    get:
      tags:
        - Registration
      summary: Danh sách đăng ký (theo event hoặc theo nhân viên)
      operationId: listRegistrations
      parameters:
        - name: eventId
          in: query
          schema:
            type: string
            format: uuid
        - name: employeeId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - RESERVED
              - CONFIRMED
              - CANCELLED
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistrationListApiResponse"
  /registrations/status:
    get:
      tags:
        - Registration
      summary: Polling trạng thái xử lý đơn đăng ký (Flash Sale)
      description: |
        Frontend gọi định kỳ (VD: mỗi 2s) sau khi nhận được 202 Accepted từ API đăng ký để lấy trạng thái xử lý thực tế từ Redis.
      operationId: checkRegistrationStatus
      parameters:
        - name: campaignId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Trả về trạng thái của giao dịch (PENDING, SUCCESS:..., FAILED:...)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: Thành công
                  data:
                    type: string
                    example: "SUCCESS:123e4567-e89b-12d3-a456-426614174000"
  /registrations/{registrationId}:
    get:
      tags:
        - Registration
      summary: My Registration Status (Read Model)
      operationId: getRegistration
      parameters:
        - $ref: "#/components/parameters/RegistrationId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistrationApiResponse"
        "404":
          $ref: "#/components/responses/NotFound"
  /registrations/{registrationId}/cancel:
    post:
      tags:
        - Registration
      summary: Hủy đăng ký (CancelRegistration)
      description:
        "Logic Hủy đăng ký thực hiện ĐỒNG BỘ. Cập nhật trạng thái thành CANCELLED và hoàn trả lại slot vé (releaseTicket) ngay lập tức trên DB nội bộ của Registration Service. Trả về `200 OK`.
        "
      operationId: cancelRegistration
      parameters:
        - $ref: "#/components/parameters/RegistrationId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        "200":
          description: Đăng ký đã được hủy thành công và hoàn trả slot vé.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistrationApiResponse"
        "404":
          $ref: "#/components/responses/NotFound"
  /campaigns/{campaignId}/stats:
    get:
      tags:
        - Registration
      summary: Lấy thống kê số lượng vé (Sử dụng Nội bộ)
      description: |
        API nội bộ phục vụ giao tiếp RPI (Đồng bộ) giữa các Service. 
        Được gọi bởi Event Service (thông qua Feign Client) để đếm số lượng vé đã bán hoặc đang giữ chỗ trước khi cho phép Hủy sự kiện. 
        Nếu tổng số > 0, sự kiện không được Hủy ngay mà phải chuyển sang PENDING_CANCELLATION.
      operationId: getCampaignStats
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Trả về trực tiếp object chứa số lượng vé (Không bọc trong ApiResponse wrapper)
          content:
            application/json:
              schema:
                type: object
                properties:
                  paidCount:
                    type: integer
                    example: 5
  /health:
    get:
      summary: Health check
      responses:
        "200":
          description: OK
components:
  schemas:
    RegisterForEventRequest:
      type: object
      required:
        - campaignId
      properties:
        campaignId:
          type: string
          format: uuid
    ReserveTicketApiResponse:
      type: object
      required:
        - success
        - code
        - message
        - data
        - timestamp
      properties:
        success:
          type: boolean
          example: true
        code:
          type: string
          example: CREATED
        message:
          type: string
          example: Đã khóa vé thành công. Vui lòng thanh toán (Nếu có)!
        data:
          type: object
          properties:
            registrationId:
              type: string
              format: uuid
            paymentUrl:
              type: string
              format: uri
              nullable: true
              description: Link thanh toán VNPay/Momo. Sẽ là null nếu là vé FREE.
        timestamp:
          type: string
          format: date-time
          example: "2026-08-13T08:00:00.000Z"
    AsyncOperationApiResponse:
      type: object
      required:
        - success
        - code
        - message
        - data
        - timestamp
      properties:
        success:
          type: boolean
          example: true
        code:
          type: string
          example: ACCEPTED
        message:
          type: string
          example: Yêu cầu đã được tiếp nhận và xử lý bất đồng bộ.
        data:
          $ref: "#/components/schemas/AsyncOperationAccepted"
        timestamp:
          type: string
          format: date-time
          example: "2026-08-13T08:00:00.000Z"
    AsyncOperationAccepted:
      type: object
      description: Response chuẩn cho mọi write đi qua nhiều Bounded Context (HA-first).
      required:
        - resourceId
        - status
        - submittedAt
      properties:
        resourceId:
          type: string
          format: uuid
          description: ID của Registration/Refund vừa khởi tạo.
        status:
          type: string
          example: REGISTRATION_PENDING
        statusCheckUrl:
          type: string
          format: uri
        submittedAt:
          type: string
          format: date-time
    CampaignStatusApiResponse:
      type: object
      required:
        - success
        - code
        - message
        - data
        - timestamp
      properties:
        success:
          type: boolean
          example: true
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: Thao tác cập nhật trạng thái cổng đăng ký thành công.
        data:
          type: object
          properties:
            eventId:
              type: string
              format: uuid
            registrationStatus:
              type: string
              example: ACTIVE
            opensAt:
              type: string
              format: date-time
            closedAt:
              type: string
              format: date-time
        timestamp:
          type: string
          format: date-time
          example: "2026-08-13T08:00:00.000Z"
    RegistrationListApiResponse:
      type: object
      required:
        - success
        - code
        - message
        - data
        - timestamp
      properties:
        success:
          type: boolean
          example: true
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: Lấy danh sách đăng ký thành công.
        data:
          type: array
          items:
            $ref: "#/components/schemas/Registration"
        timestamp:
          type: string
          format: date-time
          example: "2026-08-13T08:00:00.000Z"
    Registration:
      type: object
      properties:
        registrationId:
          type: string
          format: uuid
        eventId:
          type: string
          format: uuid
        employeeId:
          type: string
        status:
          type: string
          enum:
            - RESERVED
            - CONFIRMED
            - CANCELLED
        cancelReason:
          type: string
          nullable: true
          description: Lý do hủy đăng ký (nếu trạng thái là CANCELLED).
        registeredAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    RegistrationApiResponse:
      type: object
      required:
        - success
        - code
        - message
        - data
        - timestamp
      properties:
        success:
          type: boolean
          example: true
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: Thao tác đăng ký thành công.
        data:
          $ref: "#/components/schemas/Registration"
        timestamp:
          type: string
          format: date-time
          example: "2026-08-13T08:00:00.000Z"
    ErrorResponse:
      type: object
      description: Envelope Response DTO dùng chung cho mọi API lỗi (Trường phái B).
      required:
        - success
        - code
        - message
        - timestamp
      properties:
        success:
          type: boolean
          example: false
        code:
          type: string
          example: INVALID_INPUT
        message:
          type: string
          example: Dữ liệu yêu cầu không hợp lệ.
        data:
          type: object
          nullable: true
          example: null
        timestamp:
          type: string
          format: date-time
          example: "2026-08-13T08:00:00.000Z"
        path:
          type: string
          example: /v1/auth/login
  responses:
    BadRequest:
      description: Dữ liệu đầu vào không hợp lệ.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            code: BAD_REQUEST
            message: Dữ liệu đầu vào không hợp lệ.
            data: null
            timestamp: "2026-08-13T08:00:00.000Z"
            path: /v1/api
    Unauthorized:
      description: Thiếu hoặc JWT không hợp lệ.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            code: UNAUTHORIZED
            message: Xác thực không thành công hoặc JWT hết hạn.
            data: null
            timestamp: "2026-08-13T08:00:00.000Z"
            path: /v1/api
    Forbidden:
      description: Role JWT không đủ quyền (vd. cần ORGANIZER).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            code: FORBIDDEN
            message: Tài khoản không đủ quyền truy cập tài nguyên này.
            data: null
            timestamp: "2026-08-13T08:00:00.000Z"
            path: /v1/api
    NotFound:
      description: Không tìm thấy tài nguyên.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            code: NOT_FOUND
            message: Tài nguyên được yêu cầu không tồn tại.
            data: null
            timestamp: "2026-08-13T08:00:00.000Z"
            path: /v1/api
    Conflict:
      description: Xung đột trạng thái (vd. đã PUBLISHED).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            code: CONFLICT
            message: Xung đột trạng thái tài nguyên.
            data: null
            timestamp: "2026-08-13T08:00:00.000Z"
            path: /v1/api
  parameters:
    ResourceId:
      name: resourceId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    EventId:
      name: eventId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    RegistrationId:
      name: registrationId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PaymentId:
      name: paymentId
      in: path
      required: true
      schema:
        type: string
        format: uuid
