# ==============================================
# Environment Variables - Internal Event Management
# ==============================================

# --- General ---
COMPOSE_PROJECT_NAME=event-internal-system
ENVIRONMENT=development

# --- Database (PostgreSQL for Event Service) ---
DB_HOST=localhost
DB_PORT=5432
EVENT_DB_PORT=5432
DB_NAME=event_db
DB_USER=postgres
DB_PASSWORD=postgres
# --- Database (PostgreSQL cho Registration Service) ---
REGISTRATION_DB_PORT=5433
REGISTRATION_DB_NAME=registration_db
# --- Database (PostgreSQL cho Payment Service) ---
PAYMENT_DB_PORT=5434
PAYMENT_DB_NAME=payment_db
# --- Database (PostgreSQL cho Notification Service) ---
PAYMENT_DB_PORT=5437
PAYMENT_DB_NAME=notification_db

# --- Kafka & Zookeeper ---
KAFKA_PORT=9092
KAFKA_INTERNAL_PORT=29092
KAFKA_BROKER_ID=1
ZOOKEEPER_PORT=2181
KAFKA_UI_PORT=8080
KAFKA_CLUSTER_NAME=local

# --- Debezium ---
DEBEZIUM_PORT=8089
DEBEZIUM_GROUP_ID=1
DEBEZIUM_CONFIG_TOPIC=my_connect_configs
DEBEZIUM_OFFSET_TOPIC=my_connect_offsets
DEBEZIUM_STATUS_TOPIC=my_connect_statuses

# --- Service Ports ---
FRONTEND_PORT=3000
GATEWAY_PORT=8000
RESOURCE_SERVICE_PORT=8081
EVENT_SERVICE_PORT=8082
REGISTRATION_SERVICE_PORT=8083
PAYMENT_SERVICE_PORT=8084
IAM_SERVICE_PORT=8085
ATTENDANCE_SERVICE_PORT=8086
NOTIFICATION_SERVICE_PORT=8087
ANALYTICS_SERVICE_PORT=8088

# --- Security ---
JWT_SECRET=super-secret-key-for-internal-event-management-at-least-32-chars

# --- Payment & Saga Config ---
# Thời gian chờ thanh toán trước khi hủy vé (phút)
PAYMENT_TIMEOUT_MINUTES=15
# Tần suất quét giao dịch quá hạn (Mặc định: 5 phút 1 lần)
PAYMENT_SCHEDULER_CRON="0 */5 * * * *"

# VNPay Sandbox
VNPAY_TMN_CODE=YOUR_TMN_CODE_HERE
VNPAY_HASH_SECRET=YOUR_HASH_SECRET_HERE
VNPAY_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:3000/api/v1/payments/vnpay-return
VNPAY_IPN_URL=http://localhost:8084/api/v1/payments/vnpay-ipn

SMTP_USERNAME=dia-chi-email-cua-ban@gmail.com
SMTP_PASSWORD=mat_khau_ung_dung_16_ky_tu
